@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.add {
    &__left, &__right {
        &-edit {
            
                @include input;
                width: 100%;
                margin-bottom: 1rem;
    
                &::placeholder {
                    padding-top: .6rem;
                    padding-left: 1rem;
                    color: $primary-color-black;
                }
            
        }
    }
 
}


