@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

* {
  font-family: "TitilliumWeb";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
