@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.add-inv {
  position: absolute;
  margin: 1rem rem;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  top: 10%;
  left: 10%;
  width: 80%;

  &-header {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    border-bottom: 1px solid $secondary-color-cloud;

    @include tablet {
      padding-left: 2rem;
      padding-bottom: 1.3125rem;
      height: 2.5rem;
    }

    &__arrow {
      width: 1rem;
      height: 1rem;
      padding-right: 0.75rem;
      padding-top: 0.6rem;
    }

    &__title {
      @include page-header;
      width: 15rem;
      height: 5rem;

      @include tablet {
        width: 100%;
      }
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      width: 100%;
    }
  }
}

.item-details {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $secondary-color-cloud;

  @include tablet {
    width: 45%;
    border-bottom: none;
    border-right: 1px solid $secondary-color-cloud;
    padding: 0 2rem;
    margin: 1rem 0;
  }

  @include desktop {
    padding: 0 2.5rem;
  }

  &__header {
    @include subheader;
    padding-bottom: 1.5rem;
  }

  &__label {
    @include llb;
    padding-bottom: 0.25rem;
  }

  &__input {
    &-name {
      border: 1px solid #bdc5d5;
      border-radius: 20px;
      height: 2.25rem;
      resize: none;
      @include body-medium;
      margin-bottom: 1rem;

      &::placeholder {
        color: $secondary-color-slate;
        padding-left: 1rem;
        padding-top: 0.5rem;
      }
    }

    &-desc {
      border: 1px solid #bdc5d5;
      border-radius: 20px;
      height: 7.5rem;
      resize: none;
      @include body-medium;
      margin-bottom: 1rem;

      &::placeholder {
        color: $secondary-color-slate;
        padding-left: 1rem;
        padding-top: 0.5rem;
      }
    }

    &-category {
      border: 1px solid #bdc5d5;
      border-radius: 20px;
      height: 2.25rem;
      appearance: none;
      @include body-medium;
      color: $secondary-color-slate;
      background-image: url(../../assets/Icons/arrow_drop_down-24px.svg);
      background-repeat: no-repeat;
      background-position: 95% 50%;
      color: $secondary-color-slate;
      padding-top: 0.2rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.item-avail {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $secondary-color-cloud;

  @include tablet {
    width: 45%;
    border-bottom: none;
    padding: 1rem 2rem;
  }

  @include desktop {
    padding: 1rem 2.5rem;
  }

  &__header {
    @include subheader;
    padding-bottom: 1.5rem;
  }

  &__label {
    @include llb;
    padding-bottom: 0.25rem;
  }

  &__radio {
    height: 1rem;

    &-name {
      @include body-medium;
      color: $secondary-color-slate;
      padding-left: 0.5rem;
      height: 1rem;
    }

    &-wrapper {
      display: flex;
      justify-content: space-around;
      padding-bottom: 1rem;

      &--left {
        width: 50%;
        display: flex;
        align-items: center;
      }

      &--right {
        width: 50%;
        display: flex;
        align-items: center;
      }
    }
  }

  &__input {
    &-quantity {
      border: 1px solid #bdc5d5;
      border-radius: 20px;
      height: 2.25rem;
      resize: none;
      @include body-medium;
      margin-bottom: 1rem;

      &::placeholder {
        color: $secondary-color-slate;
        padding-left: 1rem;
        padding-top: 0.5rem;
      }
    }

    &-warehouse {
      border: 1px solid #bdc5d5;
      border-radius: 20px;
      height: 2.25rem;
      appearance: none;
      @include body-medium;
      color: $secondary-color-slate;
      background-image: url(../../assets/Icons/arrow_drop_down-24px.svg);
      background-repeat: no-repeat;
      background-position: 95% 50%;
      color: $secondary-color-slate;
      padding-top: 0.2rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.item-submit {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: $background-color-grey;

  @include tablet {
    justify-content: end;
  }

  &__cancel {
    @include cancel-button;
    color: $secondary-color-slate;
    border: 1px solid #bdc5d5;
    width: 46%;
    height: 2.25rem;
    font-size: 13px;
    text-align: center;

    @include tablet {
      width: 4.5rem;
    }
  }

  &__add {
    @include add-button;
    width: 46%;
    text-align: center;

    @include tablet {
      width: 6.125rem;
      margin-left: 1rem;
    }
  }
}
